//
//// Default Styles
//
@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Open+Sans:wght@400;700&display=swap");

@font-face {
  font-family: "El Messiri";
  src: url("ElMessiri-Bold.ttf");
}

@font-face {
  font-family: "Open-Sans";
  src: url("OpenSans-Regular.ttf");
}

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
}

a,
body,
button,
div,
footer,
form,
h1,
h2,
h3,
header,
html,
img,
input,
label,
li,
nav,
p,
select,
span,
table,
textarea,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
}

body,
html {
  overflow-x: hidden;
}

li,
ul {
  list-style: none;
}

button,
input,
select,
textarea {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

textarea {
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
}

a,
img,
picture,
svg,
video {
  display: block;
}

h1 {
  font-family: "El Messiri", sans-serif;
  font-size: $h1;
  font-weight: 700;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: $p;
  font-weight: 400;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #43434a;
  color: $white;
  padding: $m192 $m128;
  text-align: center;
  align-items: center;
  width: 100vw;
  border: none;
  outline: none;

  p {
    margin-bottom: $m24;
  }

  .icon-container {
    display: flex;
    flex-direction: row;
    margin-top: $m48;

    img {
      width: 48px;
      height: auto;
      transition: all 0.2s ease;
      cursor: pointer;
      margin: $m12;
    }

    img:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: $h1Mobile;
  }

  p {
    font-size: $pMobile;
  }

  footer {
    padding: $m96Mobile $m16Mobile;

    .icon-container {
      img {
        width: 32px;
        margin: 6px;
      }
    }
  }
}
