//
//// Imports
//
@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Open+Sans:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
//
//// Styling
//

#section-hero {
  background-image: url("../public/img/bg/heroBG.png");
  background-size: cover;
  width: auto;
  height: auto;
  padding: $m48 $m16;
  color: #000000;
  display: flex;
  text-align: center;

  .hero-title {
    font-family: "Hello Ketta";
    font-weight: 500;
    margin-bottom: 0%;
    margin-top: 5%;
  }

  .hero-subtitle {
    font-family: "Josefin Sans";
    margin-bottom: 10%;
  }

  .hero-button {
    display: inline-block;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    border-radius: 15px;
    background-color: #8eaded;
    color: #ffffff;
    padding: 2% $m64;
    transition: all 0.2s ease;
    margin-bottom: 20%;
  }

  .hero-button:hover {
    transform: scale(1.1);
  }
}


#section-about {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-image: url("../public/img/bg/aboutBG.png");
  background-size: cover;
  background-color: #ffcbb9;
  padding: $m192 $m128;
  color: $black;
  display: flex;
  flex-direction: row;
  width: 100vw;

  h1 {
    margin-bottom: $m24;
  }

  p {
    margin-bottom: $m24;
  }

  .about-container {
    width: $w7;
    margin-right: calc($w1 + 2 * $m24);
  }

  .about-img {
    width: $w4;
    height: auto;
  }

  .registration-button {
    width: auto;
    height: auto;
    padding-left: 0px;
    background-color: #8eaded;
  }
}

#section-registration {
  background-image: url("../public/img/bg/tracksBG.png");
  background-size: cover;
  background-color: #d1c7e8;
  padding: $m192 $m128;
  color: #000000;

  h1 {
    margin-bottom: $m32;
  }

  p {
    margin-bottom: $m32;
  }

  a {
    display: inline-block;
    font-size: $p;
    font-weight: 700;
    text-align: center;
    background-color: transparent;
    border: solid $black 2px;
    border-radius: $m16;
    padding: $m12 $m64;
    transition: all 0.2s ease;
  }

  a:hover {
    color: #5b5ca6;
    transform: scale(1.1);
  }

  .registration-flex {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .registration-container2 {
    text-align: center;
  }
}

#section-schedule {
  background-image: url("../public/img/bg/schedBG.png");
  background-size: cover;
  background-color: #8EADED;
  color: $black;
  padding: $m192 $m128;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  h2 {
    color: black;
    margin: 0;
    font-size: $h2;
    z-index: 1;
    width: $w5;
  }

  p {
    margin-bottom: $m16;
    z-index: 1;
    width: $w5;
  }

  a {
    display: inline-block;
    font-size: $p;
    font-weight: 700;
    text-align: center;
    background-color: transparent;
    border: solid $black 2px;
    border-radius: $m16;
    padding: $m12 $m64;
    transition: all 0.2s ease;
  }

  a:hover {
    color: #5b5ca6;
    transform: scale(1.1);
  }

  .schedule-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $w7;
    text-align: center;
  }

  .schedule-img {
    width: $w3;
  }

  .schedule-img-background {
    position: absolute;
    width: $w7;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -52%);
  }
}

#section-faq {
  background-image: url("../public/img/bg/faqBG.png");
  background-size: cover;
  background-color: #b4ce85;
  color: $black;
  padding: 0 $m128;
  padding-bottom: $m192;
  padding-top: $m128;
  display: flex;
  flex-direction: column;
  width: 100vw;

  h1 {
    color: $black;
    margin-bottom: $m32;
    text-align: center;
  }

  p {
    margin-bottom: calc($m16 / 2);
    width: $w12;
  }

  a {
    display: inline;
    text-decoration: underline;
    color: $black;
    font-weight: 700;
  }
}

#section-express {
  background-image: url("../public/img/bg/expressBG.png");
  background-size: cover;
  background-color: #ffce7a;
  color: $black;
  padding: $m192 $m128;
  display: flex;
  flex-direction: column;
  width: 100vw;

  h1 {
    margin-bottom: $m24;
    color: $black;
  }

  p {
    margin-bottom: $m24;
  }

  .express-container {
    width: $w12;
    margin-bottom: $m48;
  }

  .express-container-paragraph {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
      width: $w7;
      font-weight: 700;
    }
  }

  .express-container-quote {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
      width: $w7;
      font-style: italic;
      text-align: end;
      font-weight: 700;
    }
  }

  .quote-img {
    width: $w5;
    height: auto;
  }
}

@media (max-width: 1040px) {
  #section-schedule {
    // flex-direction: column;
    // align-items: flex-start;

    .schedule-container {
      width: $w7;
      margin: 0;
      margin-right: $w1 + $m24 * 2;
      align-self: center;
      text-align: start;
    }

    p {
      width: $w7;
    }

    h1 {
      width: $w7;
    }

    .schedule-img {
      width: $w4;
      margin: 0;
      margin-top: $m48;
      padding: 0;
      align-self: center;
    }

    .schedule-img-background {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  #section-hero {
    padding: $m48Mobile $m16Mobile;
    align-items: center;

    .hero-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: $w4Mobile;
      text-align: end;
      
      h1 {
        width: $w4Mobile;
        text-align: center;
        font-size: $h1Mobile;
      }

      h2 {
        text-align: center;
        font-size: $h2Mobile;
      }

      h3 {
        text-align: center;
        font-size: $h3Mobile;
      }

      p {
        width: $w4Mobile;
        font-size: $pMobile;
      }
    }

    .hero-img {
      margin-top: $m16Mobile;
      width: $w3Mobile;
    }

    .hero-title {
      width: $w4Mobile;
    }

    .hero-button {
      width: $w2Mobile;
      text-align: center;
    }
  }

  #section-about {
    flex-direction: column-reverse;
    padding: $m96Mobile $m16Mobile;

    .about-container {
      width: $w4Mobile;
    }

    h2 {
      text-align: center;
      font-size: $h2Mobile;
      margin-bottom: $m16Mobile;
    }

    h3 {
      text-align: center;
      font-size: $h3Mobile;
    }

    p {
      width: $w4Mobile;
      font-size: $pMobile;
      margin-bottom: $m16Mobile;
    }

    .about-img {
      width: $w1Mobile;
      height: auto;
    }
  }

  #section-registration {
    padding: $m96Mobile $m16Mobile;
    text-align: center;

    .registration-container {
      margin-bottom: $m32Mobile;
    }

    .registration-flex {
      display: flex;
      flex-direction: column;
    }
  
    .registration-container2 {
      text-align: center;
    }

    h2 {
      text-align: center;
      font-size: $h2Mobile;
      margin-bottom: $m16Mobile;
    }

    h3 {
      text-align: center;
      font-size: $h3Mobile;
    }

    p {
      width: $w4Mobile;
      font-size: $pMobile;
      margin-bottom: $m16Mobile;
    }
    

    a {
      display: inline-block;
      font-size: $pMobile;
      color: $black;
      text-align: center;
    }

    .registration-img {
      width: $w2Mobile;
      margin: 0;
      margin-bottom: $m16Mobile;
      align-self: center;
    }
  }

  #section-schedule {
    flex-direction: column;
    padding: $m96Mobile $m16Mobile;
    align-items: flex-start;

    .schedule-container {
      width: $w4Mobile;
      margin: 0;
    }

    h2 {
      text-align: center;
      font-size: $h2Mobile;
    }

    h3 {
      text-align: center;
      font-size: $h3Mobile;
    }

    p {
      width: $w4Mobile;
      font-size: $pMobile;
      margin-bottom: $m16Mobile;
    }

    .schedule-img {
      width: $w2Mobile;
      align-self: center;
    }

    .schedule-img-background {
      display: none;
    }
  }

  #section-faq {
    padding: $m96Mobile $m16Mobile;
    padding-top: 0;

    h2 {
      text-align: center;
      font-size: $h2Mobile;
      margin-bottom: $m16Mobile;
    }

    h3 {
      text-align: center;
      font-size: $h3Mobile;
    }

    p {
      width: $w4Mobile;
      font-size: $pMobile;
      margin-bottom: $m16Mobile;
    }
  }

  #section-express {
    padding: $m96Mobile $m16Mobile;

    .express-container {
      width: $w4Mobile;
    }

    h2 {
      text-align: center;
      font-size: $h2Mobile;
      margin-bottom: $m16Mobile;
    }

    h3 {
      text-align: center;
      font-size: $h3Mobile;
    }

    p {
      width: $w4Mobile;
      font-size: $pMobile;
      margin-bottom: $m16Mobile;
    }

    img {
      display: flex;
      width: $w2Mobile;
      height: auto;
    }

    .express-container-quote {
      flex-direction: column;
      align-items: center;
      width: $w4Mobile;

      p {
        width: 100%;
        text-align: center;
      }

      .quote-img {
        width: $w2Mobile;
        margin-bottom: $m16Mobile;
      }
    }
  }
}
