//
//// Imports
//
@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Open+Sans:wght@400;700&display=swap");

//
//// Styling
//

#section-hero {
  background-color: #43434a;
  padding: $m192 $m128;
  color: #eafbf9;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;

  .hero-container {
    margin-right: calc($w1 + 2 * $m24);
    width: $w6;
  }

  .hero-title {
    font-family: "El Messiri";
    font-size: 72px;
  }

  .hero-img {
    width: $w5;
    height: auto;
  }
}

#section-about {
  background-color: #48916e;
  padding: $m192 $m128;
  color: $white;
  display: flex;
  flex-direction: row;
  width: 100vw;

  h1 {
    margin-bottom: $m24;
  }

  p {
    margin-bottom: $m24;
  }

  .about-container {
    width: $w7;
    margin-right: calc($w1 + 2 * $m24);
  }

  .about-img {
    width: $w4;
    height: fit-content;
  }
}

#section-registration {
  background-color: #5b5ca6;
  padding: $m192 $m128;
  color: #eafbf9;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;

  h1 {
    margin-bottom: $m32;
  }

  p {
    margin-bottom: $m32;
  }

  a {
    display: inline-block;
    font-size: $p;
    font-weight: 700;
    background-color: transparent;
    border: solid $white 2px;
    border-radius: $m16;
    padding: $m12 $m24;
    transition: all 0.2s ease;
  }

  a:hover {
    color: #5b5ca6;
    background-color: $white;
  }

  .registration-container {
    width: $w6;
    margin-left: calc($w1 + 2 * $m24);
  }

  .registration-img {
    width: $w5;
    height: auto;
  }
}

#section-schedule {
  background-color: #fcf8ea;
  color: $black;
  padding: $m192 $m128;
  padding-top: $m192 + $m64;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100vw;

  h1 {
    color: #5b5ca6;
    margin-bottom: 0;
    z-index: 1;
    width: $w5;
  }

  p {
    margin-bottom: $m16;
    z-index: 1;
    width: $w5;
  }

  a {
    font-family: "El Messiri";
    display: inline;
  }

  .schedule-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $w7;
    text-align: center;
  }

  .schedule-img {
    padding-top: $m192;
    width: $w3;
    margin-left: calc($w1 + 2 * $m24);
  }

  .schedule-img-background {
    position: absolute;
    width: $w7;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -52%);
  }
}

#section-faq {
  background-color: #fcf8ea;
  color: $black;
  padding: 0 $m128;
  padding-bottom: $m192;
  display: flex;
  flex-direction: column;
  width: 100vw;

  h1 {
    color: #5b5ca6;
    margin-bottom: $m32;
  }

  p {
    margin-bottom: $m32;
    width: $w12;
  }

  a {
    display: inline;
    text-decoration: underline;
    color: #5b5ca6;
    font-weight: 700;
  }
}

#section-express {
  background-color: #9f83d1;
  color: $white;
  padding: $m192 $m128;
  display: flex;
  flex-direction: column;
  width: 100vw;

  h1 {
    margin-bottom: $m24;
    color: #eafbf9;
  }

  p {
    margin-bottom: $m24;
  }

  .express-container {
    width: $w12;
    margin-bottom: $m48;
  }

  .express-container-quote {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
      width: $w7;
      font-style: italic;
      text-align: end;
      font-weight: 700;
    }
  }

  .quote-img {
    width: $w5;
    height: auto;
  }
}

@media (max-width: 1040px) {
  #section-schedule {
    // flex-direction: column;
    // align-items: flex-start;

    .schedule-container {
      width: $w7;
      margin: 0;
      margin-right: $w1 + $m24 * 2;
      align-self: center;
      text-align: start;
    }

    p {
      width: $w7;
    }

    h1 {
      width: $w7;
    }

    .schedule-img {
      width: $w4;
      margin: 0;
      margin-top: $m48;
      padding: 0;
      align-self: center;
    }

    .schedule-img-background {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  #section-hero {
    flex-direction: column;
    padding: $m96Mobile $m16Mobile;
    align-items: flex-start;

    .hero-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: $w4Mobile;
      text-align: end;

      p {
        width: $w4Mobile;
      }
    }

    .hero-img {
      margin-top: $m16Mobile;
      width: $w3Mobile;
    }

    .hero-title {
      width: $w4Mobile;
      font-size: 72px;
    }
  }

  #section-about {
    flex-direction: column-reverse;
    padding: $m96Mobile $m16Mobile;

    .about-container {
      width: $w4Mobile;
    }

    p {
      width: 100%;
      margin-bottom: $m16Mobile;
    }

    h1 {
      margin-bottom: $m16Mobile;
    }

    .about-img {
      width: $w2Mobile;
      margin: 0;
      margin-bottom: $m16Mobile;
      margin-right: $w1;
      align-self: flex-end;
    }
  }

  #section-registration {
    flex-direction: column;
    padding: $m96Mobile $m16Mobile;
    align-items: flex-start;
    text-align: center;

    .registration-container {
      width: $w4Mobile;
      margin: 0;
    }

    p {
      width: 100%;
      margin-bottom: $m16Mobile;
    }

    h1 {
      margin-bottom: $m16Mobile;
    }

    a {
      font-size: $pMobile;
      padding: $m16Mobile $m32Mobile;
      background-color: $white;
      color: #5b5ca6;
      width: 100%;
      text-align: center;
    }

    .registration-img {
      width: $w2Mobile;
      margin: 0;
      margin-bottom: $m16Mobile;
      align-self: center;
    }
  }

  #section-schedule {
    flex-direction: column;
    padding: $m96Mobile $m16Mobile;
    align-items: flex-start;

    .schedule-container {
      width: $w4Mobile;
      margin: 0;
    }

    p {
      width: 100%;
      margin-bottom: $m16Mobile;
    }

    h1 {
      width: 100%;
      margin-bottom: $m16Mobile;
    }

    .schedule-img {
      width: $w2Mobile;
      margin: 0;
      margin-top: $m12Mobile;
      padding: 0;
      align-self: center;
    }

    .schedule-img-background {
      display: none;
    }
  }

  #section-faq {
    padding: $m96Mobile $m16Mobile;
    padding-top: 0;

    h1 {
      margin-bottom: $m16Mobile;
    }

    p {
      width: 100%;
      margin-bottom: $m16Mobile;
    }
  }

  #section-express {
    padding: $m96Mobile $m16Mobile;

    .express-container {
      width: $w4Mobile;
    }

    h1 {
      margin-bottom: $m16Mobile;
    }

    .express-container-quote {
      flex-direction: column;
      align-items: center;
      width: $w4Mobile;

      p {
        width: 100%;
        text-align: center;
      }

      .quote-img {
        width: $w2Mobile;
        margin-bottom: $m16Mobile;
      }
    }

    p {
      width: 100%;
      margin-bottom: $m16Mobile;
    }
  }
}
