//
//// Imports
//
@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Open+Sans:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
//
//// Styling
//

#section-hero {
  background-image: url("../public/img/bg/heroBG.png");
  background-size: cover;
  width: auto;
  height: auto;
  padding: $m48 $m16;
  color: white;
  display: flex;
  text-align: center;

  .hero-subtitle {
    font-family: "Josefin Sans Bold";
    margin-bottom: 10%;
    font-size: $h3;
    font-weight: 700;
    line-height: 10px;
  }

  h1 {
    font-family: "celestialFree";
    font-size: $h1;
    font-weight: 400;
    margin-bottom: 0%;
    margin-top: 30%;
  }

  .hero-button {
    display: inline-block;
    font-family: "Josefin Sans", sans-serif;
    font-size: $h3;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
    padding: 2% $m64;
    transition: all 0.2s ease;
    margin-bottom: 20%;
  }

  .hero-button:hover {
    transform: scale(1.1);
  }

  .hero-image {
    position: absolute;
    right: 125px;
  }
}

// #gradient {
//   background-image: linear-gradient(#383062, #281D36);
//   background-size: cover;
//   padding-bottom: 500px;
// }

#section-about {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  // background-image: url("../public/img/bg/aboutBG.png");
  // background-size: cover;
  background-color: #372f61;
  padding: $m192 $m128;
  color: white;
  display: flex;
  flex-direction: row;
  width: 100vw;

  // ??? new settings below
  text-align: center;
  // color: #ffffff;

  .about-title {
    color: #ffffff;
    font-family: "celestialFree";
    font-weight: 400;
    font-size: $h2;
    margin-top: 0%;
    margin-bottom: calc($m16 / 2);
    width: $w12;
  }

  h1 {
    margin-bottom: $m24;
  }

  p {
    font-size: 20px;
    margin-bottom: calc($m16 / 2);
    margin-top: 70px;
    width: $w12;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    // ??? only setting before
    // margin-bottom: $m24;
  }

  .about-img {
    width: $w4;
    height: auto;
  }

  .registration-button {
    width: auto;
    height: auto;
    padding-left: 0px;
    background-color: #8eaded;
  }

}

#section-registration {
  // background-image: url("../public/img/bg/tracksBG.png");
  // background-size: cover;
  // background-color: #372f61;
  background-image: linear-gradient(#383062, #30274d);
  padding: $m192 $m128;
  color: white;
  // ??? added all below

  h2 {
    color: #ffffff;
    font-family: "celestialFree";
    font-weight: 400;
    font-size: 40px;
    margin-top: 0%;
    margin-bottom: calc($m16 / 2);
    width: $w12;
  }

  h3 {
    color: #ffffff;
    font-family: "celestialFree";
    text-align: column;
    font-weight: 400;
    font-size: $h3;
    text-align: left;
    margin-left: 5%;
    margin-top: 55px;
    //margin-bottom: calc($m16 / 2);
    width: $w12;
  }

  .descrip {
    text-align: left;
    margin-left: 30%;
    margin-top: -60px;
  }

  .star-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
  }

  .star-group img {
    margin: 0;
  }

  .star-group h3 {
    margin: 0;
  }

  h1 {
    margin-bottom: $m32;
  }

  p {
    margin-bottom: $m32;
  }

  a {
    display: inline-block;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 20px white, 0 0 30px white;
    padding: 2% $m64;
    transition: all 0.2s ease;
  }

  a:hover {
    transform: scale(1.1);
  }

  .registration-flex {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .registration-container2 {
    text-align: center;
  }

}

#section-schedule {
  // background-image: url("../public/img/bg/schedBG.png");
  // background-size: cover;
  // background-color: #281d36;
  background-image: linear-gradient(#30274d, #281D36);
  color: white;
  padding: $m192 $m128;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  
  // ??? add all below
  text-align: center;
  // color: #ffffff;
  // margin-top: -150px;

  .schedule-title {
    color: #ffffff;
    font-family: "celestialFree";
    font-weight: 400;
    font-size: 40px;
    margin-top: 0%;
    margin-bottom: calc($m16 / 2);
    width: $w12;
  }

  .schedule1-title{
    color: #ffffff;
    font-weight: 400;
    font-size: 36px;
    margin-top: 10%;
    margin-bottom: calc($m16 / 2);
    width: $w12;
  }

  .crafted-title{
    color: #ffffff;
    color: #ffffff;
    font-weight: 400;
    font-size: 36px;
    margin-top: 0%;
    margin-bottom: calc($m16 / 2);
    width: $w12;
  }

  .subject-title{
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    margin-top: 5%;
    margin-bottom: calc($m16 / 2);
    width: $w12;
  } 
  // }

  h2 {
    margin: 0;
    z-index: 1;
    width: $w5;
  }

  p {
    margin-bottom: $m16;
    z-index: 1;
    width: $w5;
  }

  a {
    display: inline-block;
    font-size: $p;
    font-weight: 700;
    text-align: center;
    background-color: transparent;
    border: solid $black 2px;
    border-radius: $m16;
    padding: $m12 $m64;
    transition: all 0.2s ease;
  }

  a:hover {
    color: #5b5ca6;
    transform: scale(1.1);
  }
  // ??? remove both below
  // .schedule-container {
  //   position: relative;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   width: $w7;
  //   text-align: center;
  // }
}

#section-faq {
  background-image: url("../public/img/bg/faqBG.png");
  background-size: contain;
  background-color: #281d36;
  color: white;
  padding: 0 $m128;
  padding-bottom: $m192;
  padding-top: $m128;
  display: flex;
  flex-direction: column;
  width: 100vw;
  // margin-top: -50px; // ??? reqd?

  .faq-title{
    color: #ffffff;
    font-family: "celestialFree";
    font-weight: 400;
    font-size: 40px;
    margin-top: 0%;
    //margin-bottom: calc($m16 / 2);
    width: $w12;
    text-align: center;
  }


  h1 {
    color: $black;
    margin-bottom: $m32;
    text-align: center;
  }

  p {
    margin-bottom: calc($m16 / 2);
    width: $w12;
  }

  a {
    display: inline;
    text-decoration: underline;
    color: white;
    font-weight: 700;
  }
}

#section-express {
  background-image: url("../public/img/bg/expressBG.png");
  background-size: contain;
  background-color: #281d36;
  color: white;
  padding: $m192 $m128;
  display: flex;
  flex-direction: column;
  width: 100vw;
  // margin-top: -180px; // ??? need to be added?

  .express-container {
    width: $w12;
    margin-bottom: $m48;
    h2 {
      margin-top: 5vw;
    }
  }

  .express-container-paragraph {
    width: $w12;
    margin-bottom: $m24;

    p {
      width: $w7;
      font-weight: 700;
    }
  }

  .express-container-quote {
    p {
      width: $w7;
      font-style: italic;
      text-align: end;
      font-weight: 700;
    }
  }

  .quote-img {
    width: $w5;
    height: auto;
  }
}

// @media (max-width: 1040px) {
//   #section-schedule {
//     .schedule-container {
//       width: $w7;
//       margin: 0;
//       margin-right: $w1 + $m24 * 2;
//       align-self: center;
//       text-align: start;
//     }

//     p {
//       width: $w7;
//     }

//     h1 {
//       width: $w7;
//     }

//     .schedule-img {
//       width: $w4;
//       margin: 0;
//       margin-top: $m48;
//       padding: 0;
//       align-self: center;
//     }

//     .schedule-img-background {
//       display: none;
//     }
//   }
// }

@media (max-width: 1024px) {
  #section-hero {
    padding: $m48Mobile $m16Mobile;
    align-items: center;

    .hero-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: $w4Mobile;
      text-align: end;
      
      h1 {
        width: $w4Mobile;
        text-align: center;
        font-size: $h1Mobile;
      }

      h2 {
        text-align: center;
        font-size: $h2Mobile;
      }

      h3 {
        text-align: center;
        font-size: $h3Mobile;
      }

      p {
        width: $w4Mobile;
        font-size: $pMobile;
      }
    }

    .hero-img {
      margin-top: $m16Mobile;
      width: $w3Mobile;
    }

    .hero-title {
      width: $w4Mobile;
    }

    .hero-button {
      width: $w2Mobile;
      text-align: center;
      font-size: $h3Mobile;
    }
  }

  #section-about {
    flex-direction: column-reverse;
    padding: $m96Mobile $m16Mobile;

    .about-container {
      width: $w4Mobile;
    }

    h2 {
      text-align: center;
      font-size: $h2Mobile;
      margin-bottom: $m16Mobile;
    }

    h3 {
      text-align: center;
      font-size: $h3Mobile;
    }

    p {
      width: $w4Mobile;
      font-size: $pMobile;
      margin-bottom: $m16Mobile;
    }

    .about-img {
      width: $w1Mobile;
      height: auto;
    }
  }

  #section-registration {
    padding: $m96Mobile $m16Mobile;
    text-align: center;

    .registration-container {
      margin-bottom: $m32Mobile;
      p {
        margin-left: 0%;
        text-align: center;
      }
    }

    .registration-flex {
      display: flex;
      flex-direction: column;
    }
  
    .registration-container2 {
      text-align: center;
    }

    h2 {
      text-align: center;
      font-size: $h2Mobile;
      margin-bottom: $m16Mobile;
    }

    h3 {
      text-align: center;
      font-size: $h3Mobile;
    }

    p {
      width: $w4Mobile;
      font-size: $pMobile;
      margin-top: 0%;
    }
    
    a {
      display: inline-block;
      font-size: $pMobile;
      color: white;
      text-align: center;
    }

    .registration-img {
      width: $w2Mobile;
      margin: 0;
      margin-bottom: $m16Mobile;
      align-self: center;
    }

    .descrip {
      margin-top: $m12Mobile;
    }
  }

 #section-schedule {
    flex-direction: column;
    padding: $m96Mobile $m16Mobile;
    align-items: flex-start;

    .schedule-container {
      width: $w4Mobile;
      margin: 0;
    }

    h2 {
      text-align: center;
      font-size: $h2Mobile;
    }

    h3 {
      text-align: center;
      font-size: $h3Mobile;
    }

    p {
      width: $w4Mobile;
      font-size: $pMobile;
      margin-bottom: $m16Mobile;
    }

    .schedule-img {
      width: $w2Mobile;
      align-self: center;
    }

    .schedule-img-background {
      display: none;
    }
  }

  #section-faq {
    padding: $m96Mobile $m16Mobile;
    padding-top: 0;

    h2 {
      color: #ffffff; // ??? add or not?
      text-align: center;
      font-size: $h2Mobile;
      margin-bottom: $m16Mobile;
    }

    h3 {
      color: #ffffff; // ??? add or not?
      text-align: center;
      font-size: $h3Mobile;
    }

    p {
      color: #ffffff; // ??? add or not?
      width: $w4Mobile;
      font-size: $pMobile;
      margin-bottom: $m16Mobile;
    }
  }

  
  #section-express {
    padding: $m96Mobile $m16Mobile;
    color: #ffffff; // ??? add or not?

    .express-container {
      width: $w4Mobile;
    }

    h2 {
      color: #ffffff; // ??? add or not?
      text-align: center;
      font-size: $h2Mobile;
      margin-bottom: $m16Mobile;
    }

    h3 {
      color: #ffffff; // ??? add or not?
      text-align: center;
      font-size: $h3Mobile;
    }

    // ??? remove or not?
    p {
      width: $w4Mobile;
      font-size: $pMobile;
      margin-bottom: $m16Mobile;
    }

    img {
      display: flex;
      width: $w2Mobile;
      height: auto;
    }

    .express-container-quote {
      flex-direction: column;
      align-items: center;
      width: $w4Mobile;

      p {
        color: #ffffff; // add or not?
        width: 100%;
        text-align: center;
      }

      .quote-img {
        width: $w2Mobile;
        margin-bottom: $m16Mobile;
      }
    }
  }
}
